<p id="notice"><%= notice %></p>

<p>
  <b>Address:</b>
  <%= @location.address %>
</p>

<p>
  <b>Longitude:</b>
  <%= @location.longitude %>
</p>

<p>
  <b>Latitude:</b>
  <%= @location.latitude %>
</p>
<h3> Ιατρεία κοντά σε <%= @location.address %> και <%= @city %> kai se ip <%= @ip_address %></h3>
<ul>
	
		<% for location in @location.nearbys(5) %>
		<li>
			<%= link_to location.address, location %>
			</li>
		<% end %>
		
		</ul>


<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
